$font: 'Open Sans', Arial, Helvetica, sans-serif;
$fontSize: 16px;
$widths: 100%;
$desktopSize: 1240px;
$tabletSize: 600px;


html {
    // background-color: black;
}


@mixin desktop {
    @media screen and (min-width: $desktopSize) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tabletSize) {
        @content;
    }
}


.header-container {
    
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:300px;

    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height:500px;
        width: $widths;
        background-color: black;
    }

    .nyt-logo {
        margin: 100px 0px 20px 0px ;
        @include desktop {
            margin: 0px  100px  0px 30px;
         }
    }
    
    .header-text {
        font-family: $font;
        margin-bottom: 20px;
        color: white;  
        @include desktop {
             font-size: $fontSize;
            color:white;
        }
    }

    .header-dropdown-menu {
        border: none;
        padding: 5px 50px 5px 50px;
        border-radius: 5px;
        @include desktop {
             padding: 2px 30px 2px 30px;
        }
    }
}
    

.footer-copyright-container {
    
    height:160px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    
    .footer-text {
        font-family: $font;
        margin: 20px;
        font-family: $font;
        font-size: $fontSize;
        color:#c2c2c2;
        @include desktop {
            // margin: 20px 0px 0px 30px;
            height: 100px;
            // align-items: center;
            width: $widths;
            display: flex;
            background-color: black;
            
        }   
    }
}
    





// .top-stories-container {

//     @include desktop {
//         height: 445px;
//         background-color: #ffffff;
//     }
// }
