
$font: 'Open Sans', Arial, Helvetica, sans-serif;
$fontSize: 1.6rem;
$widths: 100%;
$desktopSize: 1240px;
$tabletSize: 600px;




@mixin desktop {
    @media screen and (min-width: $desktopSize) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tabletSize) {
        @content;
    }
}

html {
    font-size: 62.5%;
    background-color: black;
}


.header-container {
    
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;

    @include desktop {
        flex-direction: row;
        justify-content: flex-start;
        width: $widths;
    }
    @include tablet {
        flex-direction: row;
    }


    .nyt-logo {
        margin: 100px 0px 20px 0px ;
        @include desktop {
            margin: 0px  100px  0px 30px;
         }
    }
    
    .header-text {
        font-family: $font;
        margin-bottom: 2rem;
        // margin-left:1.5rem;
        color: white;  
        @include desktop {
             font-size: $fontSize;
            color:white;
        }

    }

    .header-dropdown-menu {
        border: none;
        padding: 5px 30px 5px 30px;
        border-radius: 5px;
        outline: 0;
        @include desktop {
             padding: 2px 60px 2px 60px;
        }
    }
}
    

.footer-copyright-container {
    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    
    .footer-text {
        font-family: $font;
        margin: 2rem;
        font-size: 1.2rem;
        color:#c2c2c2;
        @include desktop {
            width: $widths;   
        }
        @include tablet {
            font-size: 1rem;
        }   
    }
}
    





// .top-stories-container {

//     @include desktop {
//         height: 445px;
//         background-color: #ffffff;
//     }
// }
