@import 'variables';




@mixin desktop {
    @media screen and (min-width: $desktopSize) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tabletSize) {
        @content;
    }
}




html {
    font-size: 62.5%;
    background-color: black;
}



a {

    text-decoration: none;
    color:white;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    background-color: black;
    
    @include tablet {
        grid-template-columns: repeat(3,1fr);
    }
     @include desktop {
    grid-template-columns: repeat(4, 1fr);
     }
}


.header-container {

    
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;

    @include desktop {
        flex-direction: row;
        justify-content: flex-start;
        width: $widths;
    }
    @include tablet {
        flex-direction: row;
    }


    .nyt-logo {
        margin: 100px 0px 20px 0px ;
        @include desktop {
            margin: 0px  100px  0px 30px;
         }
    }
    
    .header-text {
        font-family: $font;
        margin-bottom: 2rem;
        color: white;  
        @include desktop {
             font-size: $fontSize;
            color:white;
        }

    }

    .header-dropdown-menu {
        border: none;
        padding: 5px 30px 5px 30px;
        border-radius: 5px;
        outline: 0;
        @include desktop {
             padding: 2px 60px 2px 60px;
        }
    }
}

.header-animation {
    transition: 1.5s all;
    height: 25rem;
    @include desktop {
        height: 15rem;

    }

    .nyt-logo {
        transition: 1.5s all;
        height: 10rem;
    }

}




.loader-container {
    display: flex;
    justify-content: center;

    .loader {
        width: 3rem;
    }
}




.main-news {
    display: flex;
    justify-content: center;
    align-items: flex-end;;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'montserrat',Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    text-align: center;


    &:hover {
        transition: .5s all;
        filter: brightness(0.9);
        border-radius: 2rem;
        transform: translateY(-25px);
    }
    
    
}






.footer-copyright-container {
    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    
    .footer-text {
        font-family: $font;
        margin: 2rem;
        font-size: 1.2rem;
        color:#c2c2c2;
        text-align: center;
        @include desktop {
            width: $widths;   
        }
        @include tablet {
            font-size: 1rem;
        }   
    }
}



